<header>
  <div class="container-fluid text-center">
    <!-- Logo Row -->
    <div class="row mb-3 mt-3">
      <a href="/" title="Cortana Design">
        <img src="/assets/images/cortanadesign.png" alt="Cortana Design Logo" class="img-fluid"
          style="max-height: 155px;">
      </a>
    </div>

    <!-- Buttons Row -->
    <div class="row mb-5">
      <div class="d-flex justify-content-center gap-3">
        <a class="btn btn-dark btn-rounded" href="https://twitter.com/CortanaDesign" target="_blank"
          rel="noopener noreferrer" title="Cortana Design on Twitter">
          <i class="fa-brands fa-x-twitter"></i>
          <span class="sr-only">Twitter</span>
        </a>
        <a class="btn btn-linkedin btn-rounded" href="https://www.linkedin.com/company/6453781" target="_blank"
          rel="noopener noreferrer" title="Cortana Design on LinkedIn">
          <i class="fa-brands fa-linkedin-in"></i>
          <span class="sr-only">LinkedIn</span>
        </a>
        <a class="btn btn-rss btn-rounded" href="/feed.xml" target="_blank" title="RSS">
          <i class="fa-solid fa-rss"></i>
          <span class="sr-only">RSS</span>
        </a>
        <a class="btn btn-cortana-dark btn-rounded" href="/search" title="Search">
          <i class="fa-solid fa-magnifying-glass"></i>
          <span class="sr-only">Search</span>
        </a>
      </div>
    </div>

    <!-- Blog Title/Description Row -->
    <div class="row mb-2 justify-content-center">
      <div class="col-12 col-md-8 col-lg-6 mx-auto"></div>
      <h3 class="text-center">Trent Steenholdt's Blog</h3>
      <p class="text-center" style="max-width: 550px;">
        A simple blog sharing my findings, interests, and work in the Information Technology industry, as well as
        anything else that interests me.
      </p>
    </div>
  </div>
  </div>
  </div>
</header>