<div class="social-share">
  <a href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}&amp;via=CortanaDesigntechapac"
    class="btn btn-twitter mb-1">
    <i class="fa-brands fa-x-twitter me-1"></i>Share on Twitter (X)
  </a>
  <a href=" https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}"
    class="btn btn-linkedin mb-1">
    <i class="fa-brands fa-linkedin-in me-1"></i>Share on LinkedIn
  </a>
  <a href="/feed.xml" class="btn btn-rss mb-1">
    <i class="fa-solid fa-rss me-1"></i>RSS Feed
  </a>
</div>